
<style type="text/css">
  .btn:focus,
  .btn:active{
    box-shadow:none !important;
    outline:px !important;
}
</style>

<nav class="navbar-nav navbar-expand-lg navbar-dark "  style="background-color: #0f3249;">
  <div class="container-fluid">
    
     
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('dashboard')}}"><img src="{{url_for('static',filename='iot.png')}}" alt="Bootstrap" width="32" height="32">
</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>