

<style type="text/css">
	.row{
    display: flex  ;     
}
.container {
   
   text-align: center;

}


</style>
<div class="d-flex justify-content-around row" >
  <div class="container2" style="width: 15%;text-align: left;" >
  <div class="card row">
    <div class="card-header text-white" style="background-color: #00AA9E;">
      Temperatura
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ ultimo_valor_t}}°C<img class="" src="../static/thermometer.png" alt="Card image" width="40%" style="float: right;"></h4>
      
    </div>
  </div>
</div>
<div class="container2" style="width: 15%;text-align: left;" >
  <div class="card row">
    <div class="card-header text-white" style="background-color: #00AA9E;">
      Humidade
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ ultimo_valor_h}}%<img class="" src="../static/humidade.png" alt="Card image" width="40%" style="float: right"></h4>
      
    </div>
  </div>
</div>
<div class="container2" style="width: 15%;text-align: left;" >
  <div class="card row">
    <div class="card-header text-white" style="background-color: #00AA9E;">
      Último Movimento
    </div>
    <div class="card-body">
      <h4 class="card-title"><p style="font-size: 18px;float: left;max-width: 100px">{{ ultimo_mov }}</p><img class="" src="../static/movimento.png" alt="Card image" width="40%" style="float: right;"></h4>
      
    </div>
  </div>
</div>
</div>

  
<br>
<br>
<div style="width: 100%;" class="row flex-nowrap">
	<div style="width: 50%;">
  <canvas style="" id="myChart"></canvas>

  </div>

  <div style="width: 50%;">
  <canvas style="" id="myChart2"></canvas>
</div>

</div>
<div class="container" > 
    <form >
    <input type="submit" name="valor_graf_t" value="10" style="height: 28px;">
    <input type="submit" name="valor_graf_t" value="50" style="height: 28px;">
    <input type="submit" name="valor_graf_t" value="100" style="height: 28px;">
    <input type="submit" name="valor_graf_t" value="Todos" style="height: 28px;">

</form>
</div>





<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>


<script>

  var ctx = document.getElementById('myChart');
  console.log("entrei")
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{lista_d_t|safe}},
      datasets: [{
        label: 'Temperatura °C',
        data: {{lista_v_t}},
        borderWidth: 1,
       
        borderColor: 'rgb(75, 192, 192)',
        
        

      }]
    },
    options: {
       elements:{
                point:{
                    borderWidth: 0,
                    radius: 2,
                    backgroundColor: 'rgba(0,0,0,0)'
                }
            },
      responsive: true,
      plugins: {
        zoom: {
          pan: {
            enabled: true
          },
          zoom: {
            wheel: {
              enabled: true,
            },
            pinch: {
              enabled: true
            },
            mode: 'xy',
          }
      },
    		legend: {
    			display:false
    		},
    		subtitle: {
    			display:true,
    			text:" Temperatura"
    		}
    	},
      scales: {
            y: {
              type: 'linear',
                suggestedMin: 0,
                suggestedMax: 100,
                ticks:{
                  

                }
            },
            x: {
              display:true,
              ticks: {
                font: {
                  size:10
                }

              },

             
              
            },
        },
      }
  });

  var ctx2 = document.getElementById('myChart2');

  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: {{lista_d_h|tojson}},
      datasets: [{
        label: ' Humidade °C',
        data: {{lista_v_h}},
        borderWidth: 1,
        borderColor: 'rgb(75, 192, 192)',
      }]
    },
   options: {
       elements:{
                point:{
                    borderWidth: 0,
                    radius: 0.5,
                    backgroundColor: 'rgba(0,0,0,0)'
                }
            },
      responsive: true,
      plugins: {
        zoom: {
          pan: {
            enabled: true
          },
          zoom: {
            wheel: {
              enabled: true,
            },
            pinch: {
              enabled: true
            },
            mode: 'xy',
          }
      },
        legend: {
          display:false
        },
        subtitle: {
          display:true,
          text:" Humidade"
        }
      },
      scales: {
            y: {
              type: 'linear',
                suggestedMin: 0,
                suggestedMax: 100,
                ticks:{
                  

                }
            },
            x: {
              display:true,
              ticks: {
                font: {
                  size:10
                }

              },

             
              
            },
        },
      }
  });
</script>


